.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.style-table {
  margin: auto;
  padding: auto;
}

.style-table-th {
  border-bottom: thin solid;
  background-color: rgb(162, 175, 189);
  height: 25px;
  min-width: 120px;
}

.style-table-th1 {
  background-color: rgb(255, 255, 255);
  height: 25px;
  min-width: 120px;
}

.style-table td {
  height: 20px;
  padding: 2px 8px;
  text-align: center;
}

.style-table tr:nth-child(odd) {
  background-color: #e6e0e0;
}

.center {
  text-align: center;
  overflow-x: auto;
}

.heading {
  background-color: #15171b;
  color: rgb(255, 255, 255);
  margin: auto;
  padding: 10px;
  text-align: center;
}

.formStyle {
  padding: 20px;
  border-style: groove;
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
